<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.cache.use_second_level_cache">
            true
        </property>
        <property name="cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>


        <class-cache class="com.xin.model.Category" usage="read-write"/>
        <class-cache class="com.xin.model.Comment" usage="read-write"/>
        <class-cache class="com.xin.model.Post" usage="read-write"/>
        <class-cache class="com.xin.model.User" usage="read-write"/>

    </session-factory>


</hibernate-configuration>